

body {
 background-image: url("https://raw.githubusercontent.com/reubenwalker64/unit-4-game/master/assets/images/background-web2.jpg");
 background-size: cover;
}

h1 {
	color: #333fff;
	font-family: serif;
	font-size: 54px;
	margin-left: 10px;
	margin-top: 30px;
	text-align: center;
}

hr {
	border-top: 5px solid red;
}

p {
	padding: 10px;
  margin-left: 20px;
	font-family: sans-serif;
	color: #07b814;
	font-size: 22px;

}

.col-lg-1 {
  margin-right: 30px;
}

.credit {
	font-size: 12px;
}

.number {
	font-size: 24px;
	color: white;
}
